## Manipulating Data, Pandas DataFrame

In this notebook, I use the following files:

* file 'tutorial_1.csv'      shape:  (4, 4) (Comma Separated Values File (.csv) file)

* file 'servo.data'          shape:  (167, 5) from the site [UCI, Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Servo)

* file 'players_2.txt'       shape:  (46, 17) from the site [NHL Player Points Statistics - 2014-15](http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015)

* file 'Prestige.txt'   shape:  (101, 7) 
from the site [An R and S-PLUS Companion to Applied Regression](https://socialsciences.mcmaster.ca/jfox/Books/Companion-1E/scripts.html)

### Part I:    DataFrame type

__DataFrame__ is a 2-dimensional labeled data structure with columns of potentially different types. 
It is like a spreadsheet or SQL table, 
or a dict of Series objects. It is generally the __most commonly used pandas object__. 
Like Series, DataFrame accepts many different kinds of input:

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A _Series_
* Another _DataFrame_

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('files/tutorial_1.csv')
print('df shape: ', df.shape)
# Print all lines
print(df[0:]) 
print('\n', df.describe())
print('\n df type: ', type(df))
df.head()

df shape:  (4, 4)
       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

            col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

 df type:  <class 'pandas.core.frame.DataFrame'>

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

### Select column as the second coordinate of .loc

In [3]:
print(df.loc[2:4,'col3'])

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

### Select column as the element of pandas DataFrame

In [4]:
print(df.col3[2:4])

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

### Select the column name as an index of DataFrame

In [5]:
print(df['col3'][2:4])

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

### Part II: DataFrame type, no head,  filtering

In [6]:
cols = ['motor','screw','pgain','vgain','class']

# Try another names of columns
# cols = ['Col1','screw','Col3','vgain','Col5']

df = pd.read_csv('files/servo.data', names = cols)
print('df shape: ', df.shape)
# Print all lines
#print(df[0:])
print(df[0:30]) 
print('\n', df.describe())
print('\n df type: ', type(df))
df.head()

df shape:  (167, 5)
   motor screw  pgain  vgain     class
0      E     E      5      4  0.281251
1      B     D      6      5  0.506252
2      D     D      4      3  0.356251
3      B     A      3      2  5.500033
4      D     B      6      5  0.356251
5      E     C      4      3  0.806255
6      C     A      3      2  5.100014
7      A     A      3      2  5.700042
8      C     A      6      5  0.768754
9      D     A      4      1  1.031254
10     B     E      6      5  0.468752
11     E     C      5      4  0.393752
12     B     C      4      1  0.281251
13     E     C      3      1  1.100000
14     C     C      5      4  0.506252
15     E     B      3      2  1.899990
16     D     C      3      1  0.900001
17     B     C      5      4  0.468752
18     B     B      5      4  0.543753
19     C     E      4      2  0.206250
20     E     D      4      3  0.918755
21     A     D      4      3  1.106248
22     B     C      6      5  0.468752
23     A     C      4      2  0.581253
24     A     B      6      5  0.581253
25     E     C      6      5  0.393752
26     A     A      3      1  5.300024
27     A     E      4      2  0.468752
28     C     D      3      2  1.899990
29     B     B      3      2  4.299977

             pgain       vgain       class
count  167.000000  167.000000  167.000000
mean     4.155689    2.538922    1.389708
std      1.017770    1.369850    1.559635
min      3.000000    1.000000    0.131250
25%      3.000000    1.000000    0.503126
50%      4.000000    2.000000    0.731254
75%      5.000000    4.000000    1.259369
max      6.000000    5.000000    7.100108

 df type:  <class 'pandas.core.frame.DataFrame'>

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

### Print with another precision

In [7]:
n_lines = 8
with pd.option_context('display.precision', 4):
    print(df[0:n_lines])

  motor screw  pgain  vgain   class
0     E     E      5      4  0.2813
1     B     D      6      5  0.5063
2     D     D      4      3  0.3563
3     B     A      3      2  5.5000
4     D     B      6      5  0.3563
5     E     C      4      3  0.8063
6     C     A      3      2  5.1000
7     A     A      3      2  5.7000

### How many values with  vgain = 1

In [8]:
# print all lines
# print(df)
df_vgain = df[df['vgain']==1]
print(df_vgain)
print('\n')
print(df_vgain.count())

    motor screw  pgain  vgain     class
9       D     A      4      1  1.031254
12      B     C      4      1  0.281251
13      E     C      3      1  1.100000
16      D     C      3      1  0.900001
26      A     A      3      1  5.300024
31      B     C      3      1  3.899964
32      C     E      4      1  0.543753
36      D     E      3      1  0.500000
39      C     D      4      1  0.206250
40      D     B      4      1  0.693754
43      B     D      4      1  0.243751
46      B     A      4      1  0.806255
49      D     D      3      1  0.700001
63      C     A      6      1  0.543753
74      A     C      4      1  0.356251
76      E     C      4      1  0.281251
77      B     B      3      1  4.499986
80      E     A      3      1  7.100108
94      A     E      4      1  0.243751
96      E     D      3      1  0.900001
97      C     B      4      1  0.431252
102     B     D      3      1  3.899964
104     C     C      4      1  0.243751
106     E     B      4      1  1.181243
107     D     B      3      1  1.299997
109     D     A      3      1  2.499982
111     C     A      4      1  0.731254
115     A     A      4      1  0.843755
119     C     D      3      1  1.499995
120     B     B      4      1  0.581253
122     C     A      5      1  0.543753
123     C     E      3      1  1.299997
124     C     A      3      1  4.299977
126     C     C      3      1  1.899990
136     A     B      4      1  0.618753
138     B     E      4      1  0.206250
139     C     B      3      1  3.899964
142     A     E      3      1  3.899964
144     A     C      3      1  3.899964
146     B     A      3      1  5.100014
149     E     A      4      1  0.881255
151     E     E      3      1  0.700001
153     E     B      3      1  1.499995
154     A     D      4      1  0.243751
155     A     D      3      1  4.099967
157     A     B      3      1  4.699995
163     B     E      3      1  3.699967


motor    47
screw    47
pgain    47
vgain    47
class    47
dtype: int64

### How many values such that motor = 'E' & screw = 'E'

In [9]:
dfilter =  (df['motor']=='E') & (df['screw']=='E')
d1 = df[dfilter]
print(d1.count())

motor    6
screw    6
pgain    6
vgain    6
class    6
dtype: int64

### Filtering and finding the mean

In [10]:
df1 = df[df['pgain']==4]
#print(df1)
print(df1.count())
print("mean vgain for all rows: ")
print(df['vgain'].mean())
print("mean vgain for the rows with pgain = 4:") 
print(df1['vgain'].mean())

motor    66
screw    66
pgain    66
vgain    66
class    66
dtype: int64
mean vgain for all rows:
2.538922155688623
mean vgain for the rows with pgain = 4:
2.0606060606060606

### Part III: Check and filter data

In [11]:
df2 = pd.read_csv('files/players_2.txt', sep = '\t', names = [
                 'RK', 'PLAYER', 'TEAM', 'GP', 
                 'G', 'A', 'PTS', '+/-',
                 'PIM', 'PTS/G', 'SOG', 'PCT',
                 'GWG', 'G1', 'A1', 'G2', 'A2' ],
                 na_values='NaN')
    
#print(df2[0:7])
print(df2)
print('df2 shape: ', df2.shape)

                              RK                  PLAYER TEAM    GP     G  \
0   Points Leaders - All Players                     NaN  NaN   NaN   NaN
1                             PP                      SH  NaN   NaN   NaN
2                              1          Jamie Benn, LW  DAL  82.0  35.0
3                              2         John Tavares, C  NYI  82.0  38.0
4                              3        Sidney Crosby, C  PIT  77.0  28.0
5                              4       Alex Ovechkin, LW  WSH  81.0  53.0
6                                      Jakub Voracek, RW  PHI  82.0  22.0
7                              6    Nicklas Backstrom, C  WSH  82.0  18.0
8                              7         Tyler Seguin, C  DAL  71.0  37.0
9                              8         Jiri Hudler, LW  CGY  78.0  31.0
10                                      Daniel Sedin, LW  VAN  82.0  20.0
11                            10  Vladimir Tarasenko, RW  STL  77.0  37.0
12                            PP                      SH  NaN   NaN   NaN
13                                      Nick Foligno, LW  CBJ  79.0  31.0
14                                      Claude Giroux, C  PHI  81.0  25.0
15                                       Henrik Sedin, C  VAN  82.0  18.0
16                            14       Steven Stamkos, C   TB  82.0  43.0
17                                      Tyler Johnson, C   TB  77.0  29.0
18                            16        Ryan Johansen, C  CBJ  82.0  26.0
19                            17         Joe Pavelski, C   SJ  82.0  37.0
20                                      Evgeni Malkin, C  PIT  69.0  28.0
21                                       Ryan Getzlaf, C  ANA  77.0  25.0
22                            20           Rick Nash, LW  NYR  79.0  42.0
23                            PP                      SH  NaN   NaN   NaN
24                            21      Max Pacioretty, LW  MTL  80.0  37.0
25                                      Logan Couture, C   SJ  82.0  27.0
26                            23       Jonathan Toews, C  CHI  81.0  28.0
27                                      Erik Karlsson, D  OTT  82.0  21.0
28                                 Henrik Zetterberg, LW  DET  77.0  17.0
29                            26        Pavel Datsyuk, C  DET  63.0  26.0
30                                       Joe Thornton, C   SJ  78.0  16.0
31                            28     Nikita Kucherov, RW   TB  82.0  28.0
32                                      Patrick Kane, RW  CHI  61.0  27.0
33                                        Mark Stone, RW  OTT  80.0  26.0
34                           NaN                     NaN  NaN   NaN   NaN
35                            PP                      SH  NaN   NaN   NaN
36                                   Alexander Steen, LW  STL  74.0  24.0
37                                        Kyle Turris, C  OTT  82.0  24.0
38                                   Johnny Gaudreau, LW  CGY  80.0  24.0
39                                       Anze Kopitar, C   LA  79.0  16.0
40                            35        Radim Vrbata, RW  VAN  79.0  31.0
41                                    Jaden Schwartz, LW  STL  75.0  28.0
42                                     Filip Forsberg, C  NSH  82.0  26.0
43                                     Jordan Eberle, RW  EDM  81.0  24.0
44                                      Ondrej Palat, LW   TB  75.0  16.0
45                            40         Zach Parise, LW  MIN  74.0  33.0

       A   PTS   +/-   PIM  PTS/G    SOG   PCT   GWG    G1    A1   G2   A2
0    NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
1    NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
2   52.0  87.0   1.0  64.0   1.06  253.0  13.8   6.0  10.0  13.0  2.0  3.0
3   48.0  86.0   5.0  46.0   1.05  278.0  13.7   8.0  13.0  18.0  0.0  1.0
4   56.0  84.0   5.0  47.0   1.09  237.0  11.8   3.0  10.0  21.0  0.0  0.0
5   28.0  81.0  10.0  58.0   1.00  395.0  13.4  11.0  25.0   9.0  0.0  0.0
6   59.0  81.0   1.0  78.0   0.99  221.0  10.0   3.0  11.0  22.0  0.0  0.0
7   60.0  78.0   5.0  40.0   0.95  153.0  11.8   3.0   3.0  30.0  0.0  0.0
8   40.0  77.0  -1.0  20.0   1.08  280.0  13.2   5.0  13.0  16.0  0.0  0.0
9   45.0  76.0  17.0  14.0   0.97  158.0  19.6   5.0   6.0  10.0  0.0  0.0
10  56.0  76.0   5.0  18.0   0.93  226.0   8.9   5.0   4.0  21.0  0.0  0.0
11  36.0  73.0  27.0  31.0   0.95  264.0  14.0   6.0   8.0  10.0  0.0  0.0
12   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
13  42.0  73.0  16.0  50.0   0.92  182.0  17.0   3.0  11.0  15.0  0.0  0.0
14  48.0  73.0  -3.0  36.0   0.90  279.0   9.0   4.0  14.0  23.0  0.0  0.0
15  55.0  73.0  11.0  22.0   0.89  101.0  17.8   0.0   5.0  20.0  0.0  0.0
16  29.0  72.0   2.0  49.0   0.88  268.0  16.0   6.0  13.0  12.0  0.0  0.0
17  43.0  72.0  33.0  24.0   0.94  203.0  14.3   6.0   8.0   9.0  0.0  0.0
18  45.0  71.0  -6.0  40.0   0.87  202.0  12.9   0.0   7.0  19.0  2.0  0.0
19  33.0  70.0  12.0  29.0   0.85  261.0  14.2   5.0  19.0  12.0  0.0  0.0
20  42.0  70.0  -2.0  60.0   1.01  212.0  13.2   4.0   9.0  17.0  0.0  0.0
21  45.0  70.0  15.0  62.0   0.91  191.0  13.1   6.0   3.0  10.0  0.0  2.0
22  27.0  69.0  29.0  36.0   0.87  304.0  13.8   8.0   6.0   6.0  4.0  1.0
23   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
24  30.0  67.0  38.0  32.0   0.84  302.0  12.3  10.0   7.0   4.0  3.0  2.0
25  40.0  67.0  -6.0  12.0   0.82  263.0  10.3   4.0   6.0  18.0  2.0  0.0
26  38.0  66.0  30.0  36.0   0.81  192.0  14.6   7.0   6.0  11.0  2.0  1.0
27  45.0  66.0   7.0  42.0   0.80  292.0   7.2   3.0   6.0  24.0  0.0  0.0
28  49.0  66.0  -6.0  32.0   0.86  227.0   7.5   3.0   4.0  24.0  0.0  0.0
29  39.0  65.0  12.0   8.0   1.03  165.0  15.8   5.0   8.0  16.0  0.0  0.0
30  49.0  65.0  -4.0  30.0   0.83  131.0  12.2   0.0   4.0  18.0  0.0  0.0
31  36.0  64.0  38.0  37.0   0.78  190.0  14.7   2.0   2.0  13.0  0.0  0.0
32  37.0  64.0  10.0  10.0   1.05  186.0  14.5   5.0   6.0  16.0  0.0  0.0
33  38.0  64.0  21.0  14.0   0.80  157.0  16.6   6.0   5.0   8.0  1.0  0.0
34   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
35   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN  NaN  NaN
36  40.0  64.0   8.0  33.0   0.86  223.0  10.8   5.0   8.0  16.0  0.0  0.0
37  40.0  64.0   5.0  36.0   0.78  215.0  11.2   6.0   4.0  12.0  1.0  0.0
38  40.0  64.0  11.0  14.0   0.80  167.0  14.4   4.0   8.0  13.0  0.0  0.0
39  48.0  64.0  -2.0  10.0   0.81  134.0  11.9   4.0   6.0  18.0  0.0  0.0
40  32.0  63.0   6.0  20.0   0.80  267.0  11.6   7.0  12.0  11.0  0.0  0.0
41  35.0  63.0  13.0  16.0   0.84  184.0  15.2   4.0   8.0   8.0  0.0  2.0
42  37.0  63.0  15.0  24.0   0.77  237.0  11.0   6.0   6.0  13.0  0.0  0.0
43  39.0  63.0 -16.0  24.0   0.78  183.0  13.1   2.0   6.0  15.0  0.0  0.0
44  47.0  63.0  31.0  24.0   0.84  139.0  11.5   5.0   3.0   8.0  1.0  1.0
45  29.0  62.0  21.0  41.0   0.84  259.0  12.7   3.0  11.0   5.0  0.0  0.0
df2 shape:  (46, 17)

### Check every cell on NaN

In [12]:
print(df2.isnull()[0:5])

# how many NaN's in each line
print(df2.isnull()[0:5].sum(axis=1))

      RK  PLAYER   TEAM     GP      G      A    PTS    +/-    PIM  PTS/G  \
0  False    True   True   True   True   True   True   True   True   True
1  False   False   True   True   True   True   True   True   True   True
2  False   False  False  False  False  False  False  False  False  False
3  False   False  False  False  False  False  False  False  False  False
4  False   False  False  False  False  False  False  False  False  False

     SOG    PCT    GWG     G1     A1     G2     A2
0   True   True   True   True   True   True   True
1   True   True   True   True   True   True   True
2  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False
0    16
1    15
2     0
3     0
4     0
dtype: int64

### Drop NaN data

In [13]:
#thresh - paramter of dropna()
df_nonull = df2.dropna(thresh = df2.isnull().sum(axis=1) )
#print(df_nonull[0:7])
print(df_nonull)
print("\n How many rows remain: \n",df_nonull.count())

    RK                  PLAYER TEAM    GP     G     A   PTS   +/-   PIM  \
2    1          Jamie Benn, LW  DAL  82.0  35.0  52.0  87.0   1.0  64.0
3    2         John Tavares, C  NYI  82.0  38.0  48.0  86.0   5.0  46.0
4    3        Sidney Crosby, C  PIT  77.0  28.0  56.0  84.0   5.0  47.0
5    4       Alex Ovechkin, LW  WSH  81.0  53.0  28.0  81.0  10.0  58.0
6            Jakub Voracek, RW  PHI  82.0  22.0  59.0  81.0   1.0  78.0
7    6    Nicklas Backstrom, C  WSH  82.0  18.0  60.0  78.0   5.0  40.0
8    7         Tyler Seguin, C  DAL  71.0  37.0  40.0  77.0  -1.0  20.0
9    8         Jiri Hudler, LW  CGY  78.0  31.0  45.0  76.0  17.0  14.0
10            Daniel Sedin, LW  VAN  82.0  20.0  56.0  76.0   5.0  18.0
11  10  Vladimir Tarasenko, RW  STL  77.0  37.0  36.0  73.0  27.0  31.0
13            Nick Foligno, LW  CBJ  79.0  31.0  42.0  73.0  16.0  50.0
14            Claude Giroux, C  PHI  81.0  25.0  48.0  73.0  -3.0  36.0
15             Henrik Sedin, C  VAN  82.0  18.0  55.0  73.0  11.0  22.0
16  14       Steven Stamkos, C   TB  82.0  43.0  29.0  72.0   2.0  49.0
17            Tyler Johnson, C   TB  77.0  29.0  43.0  72.0  33.0  24.0
18  16        Ryan Johansen, C  CBJ  82.0  26.0  45.0  71.0  -6.0  40.0
19  17         Joe Pavelski, C   SJ  82.0  37.0  33.0  70.0  12.0  29.0
20            Evgeni Malkin, C  PIT  69.0  28.0  42.0  70.0  -2.0  60.0
21             Ryan Getzlaf, C  ANA  77.0  25.0  45.0  70.0  15.0  62.0
22  20           Rick Nash, LW  NYR  79.0  42.0  27.0  69.0  29.0  36.0
24  21      Max Pacioretty, LW  MTL  80.0  37.0  30.0  67.0  38.0  32.0
25            Logan Couture, C   SJ  82.0  27.0  40.0  67.0  -6.0  12.0
26  23       Jonathan Toews, C  CHI  81.0  28.0  38.0  66.0  30.0  36.0
27            Erik Karlsson, D  OTT  82.0  21.0  45.0  66.0   7.0  42.0
28       Henrik Zetterberg, LW  DET  77.0  17.0  49.0  66.0  -6.0  32.0
29  26        Pavel Datsyuk, C  DET  63.0  26.0  39.0  65.0  12.0   8.0
30             Joe Thornton, C   SJ  78.0  16.0  49.0  65.0  -4.0  30.0
31  28     Nikita Kucherov, RW   TB  82.0  28.0  36.0  64.0  38.0  37.0
32            Patrick Kane, RW  CHI  61.0  27.0  37.0  64.0  10.0  10.0
33              Mark Stone, RW  OTT  80.0  26.0  38.0  64.0  21.0  14.0
36         Alexander Steen, LW  STL  74.0  24.0  40.0  64.0   8.0  33.0
37              Kyle Turris, C  OTT  82.0  24.0  40.0  64.0   5.0  36.0
38         Johnny Gaudreau, LW  CGY  80.0  24.0  40.0  64.0  11.0  14.0
39             Anze Kopitar, C   LA  79.0  16.0  48.0  64.0  -2.0  10.0
40  35        Radim Vrbata, RW  VAN  79.0  31.0  32.0  63.0   6.0  20.0
41          Jaden Schwartz, LW  STL  75.0  28.0  35.0  63.0  13.0  16.0
42           Filip Forsberg, C  NSH  82.0  26.0  37.0  63.0  15.0  24.0
43           Jordan Eberle, RW  EDM  81.0  24.0  39.0  63.0 -16.0  24.0
44            Ondrej Palat, LW   TB  75.0  16.0  47.0  63.0  31.0  24.0
45  40         Zach Parise, LW  MIN  74.0  33.0  29.0  62.0  21.0  41.0

    PTS/G    SOG   PCT   GWG    G1    A1   G2   A2
2    1.06  253.0  13.8   6.0  10.0  13.0  2.0  3.0
3    1.05  278.0  13.7   8.0  13.0  18.0  0.0  1.0
4    1.09  237.0  11.8   3.0  10.0  21.0  0.0  0.0
5    1.00  395.0  13.4  11.0  25.0   9.0  0.0  0.0
6    0.99  221.0  10.0   3.0  11.0  22.0  0.0  0.0
7    0.95  153.0  11.8   3.0   3.0  30.0  0.0  0.0
8    1.08  280.0  13.2   5.0  13.0  16.0  0.0  0.0
9    0.97  158.0  19.6   5.0   6.0  10.0  0.0  0.0
10   0.93  226.0   8.9   5.0   4.0  21.0  0.0  0.0
11   0.95  264.0  14.0   6.0   8.0  10.0  0.0  0.0
13   0.92  182.0  17.0   3.0  11.0  15.0  0.0  0.0
14   0.90  279.0   9.0   4.0  14.0  23.0  0.0  0.0
15   0.89  101.0  17.8   0.0   5.0  20.0  0.0  0.0
16   0.88  268.0  16.0   6.0  13.0  12.0  0.0  0.0
17   0.94  203.0  14.3   6.0   8.0   9.0  0.0  0.0
18   0.87  202.0  12.9   0.0   7.0  19.0  2.0  0.0
19   0.85  261.0  14.2   5.0  19.0  12.0  0.0  0.0
20   1.01  212.0  13.2   4.0   9.0  17.0  0.0  0.0
21   0.91  191.0  13.1   6.0   3.0  10.0  0.0  2.0
22   0.87  304.0  13.8   8.0   6.0   6.0  4.0  1.0
24   0.84  302.0  12.3  10.0   7.0   4.0  3.0  2.0
25   0.82  263.0  10.3   4.0   6.0  18.0  2.0  0.0
26   0.81  192.0  14.6   7.0   6.0  11.0  2.0  1.0
27   0.80  292.0   7.2   3.0   6.0  24.0  0.0  0.0
28   0.86  227.0   7.5   3.0   4.0  24.0  0.0  0.0
29   1.03  165.0  15.8   5.0   8.0  16.0  0.0  0.0
30   0.83  131.0  12.2   0.0   4.0  18.0  0.0  0.0
31   0.78  190.0  14.7   2.0   2.0  13.0  0.0  0.0
32   1.05  186.0  14.5   5.0   6.0  16.0  0.0  0.0
33   0.80  157.0  16.6   6.0   5.0   8.0  1.0  0.0
36   0.86  223.0  10.8   5.0   8.0  16.0  0.0  0.0
37   0.78  215.0  11.2   6.0   4.0  12.0  1.0  0.0
38   0.80  167.0  14.4   4.0   8.0  13.0  0.0  0.0
39   0.81  134.0  11.9   4.0   6.0  18.0  0.0  0.0
40   0.80  267.0  11.6   7.0  12.0  11.0  0.0  0.0
41   0.84  184.0  15.2   4.0   8.0   8.0  0.0  2.0
42   0.77  237.0  11.0   6.0   6.0  13.0  0.0  0.0
43   0.78  183.0  13.1   2.0   6.0  15.0  0.0  0.0
44   0.84  139.0  11.5   5.0   3.0   8.0  1.0  1.0
45   0.84  259.0  12.7   3.0  11.0   5.0  0.0  0.0

 How many rows remain:
 RK        40
PLAYER    40
TEAM      40
GP        40
G         40
A         40
PTS       40
+/-       40
PIM       40
PTS/G     40
SOG       40
PCT       40
GWG       40
G1        40
A1        40
G2        40
A2        40
dtype: int64

### Drop column 'PLAYER'

In [14]:
df2 = df_nonull.drop('PLAYER', axis=1)
print(df2[0:18])

    RK TEAM    GP     G     A   PTS   +/-   PIM  PTS/G    SOG   PCT   GWG  \
2    1  DAL  82.0  35.0  52.0  87.0   1.0  64.0   1.06  253.0  13.8   6.0
3    2  NYI  82.0  38.0  48.0  86.0   5.0  46.0   1.05  278.0  13.7   8.0
4    3  PIT  77.0  28.0  56.0  84.0   5.0  47.0   1.09  237.0  11.8   3.0
5    4  WSH  81.0  53.0  28.0  81.0  10.0  58.0   1.00  395.0  13.4  11.0
6       PHI  82.0  22.0  59.0  81.0   1.0  78.0   0.99  221.0  10.0   3.0
7    6  WSH  82.0  18.0  60.0  78.0   5.0  40.0   0.95  153.0  11.8   3.0
8    7  DAL  71.0  37.0  40.0  77.0  -1.0  20.0   1.08  280.0  13.2   5.0
9    8  CGY  78.0  31.0  45.0  76.0  17.0  14.0   0.97  158.0  19.6   5.0
10      VAN  82.0  20.0  56.0  76.0   5.0  18.0   0.93  226.0   8.9   5.0
11  10  STL  77.0  37.0  36.0  73.0  27.0  31.0   0.95  264.0  14.0   6.0
13      CBJ  79.0  31.0  42.0  73.0  16.0  50.0   0.92  182.0  17.0   3.0
14      PHI  81.0  25.0  48.0  73.0  -3.0  36.0   0.90  279.0   9.0   4.0
15      VAN  82.0  18.0  55.0  73.0  11.0  22.0   0.89  101.0  17.8   0.0
16  14   TB  82.0  43.0  29.0  72.0   2.0  49.0   0.88  268.0  16.0   6.0
17       TB  77.0  29.0  43.0  72.0  33.0  24.0   0.94  203.0  14.3   6.0
18  16  CBJ  82.0  26.0  45.0  71.0  -6.0  40.0   0.87  202.0  12.9   0.0
19  17   SJ  82.0  37.0  33.0  70.0  12.0  29.0   0.85  261.0  14.2   5.0
20      PIT  69.0  28.0  42.0  70.0  -2.0  60.0   1.01  212.0  13.2   4.0

      G1    A1   G2   A2
2   10.0  13.0  2.0  3.0
3   13.0  18.0  0.0  1.0
4   10.0  21.0  0.0  0.0
5   25.0   9.0  0.0  0.0
6   11.0  22.0  0.0  0.0
7    3.0  30.0  0.0  0.0
8   13.0  16.0  0.0  0.0
9    6.0  10.0  0.0  0.0
10   4.0  21.0  0.0  0.0
11   8.0  10.0  0.0  0.0
13  11.0  15.0  0.0  0.0
14  14.0  23.0  0.0  0.0
15   5.0  20.0  0.0  0.0
16  13.0  12.0  0.0  0.0
17   8.0   9.0  0.0  0.0
18   7.0  19.0  2.0  0.0
19  19.0  12.0  0.0  0.0
20   9.0  17.0  0.0  0.0

### Dropping 5 more columns

In [15]:
df3 = df2.drop(['GP', 'PTS', 'G1', 'A1', 'SOG'], axis=1)
#print(df3[0:12])
print(df3)

    RK TEAM     G     A   +/-   PIM  PTS/G   PCT   GWG   G2   A2
2    1  DAL  35.0  52.0   1.0  64.0   1.06  13.8   6.0  2.0  3.0
3    2  NYI  38.0  48.0   5.0  46.0   1.05  13.7   8.0  0.0  1.0
4    3  PIT  28.0  56.0   5.0  47.0   1.09  11.8   3.0  0.0  0.0
5    4  WSH  53.0  28.0  10.0  58.0   1.00  13.4  11.0  0.0  0.0
6       PHI  22.0  59.0   1.0  78.0   0.99  10.0   3.0  0.0  0.0
7    6  WSH  18.0  60.0   5.0  40.0   0.95  11.8   3.0  0.0  0.0
8    7  DAL  37.0  40.0  -1.0  20.0   1.08  13.2   5.0  0.0  0.0
9    8  CGY  31.0  45.0  17.0  14.0   0.97  19.6   5.0  0.0  0.0
10      VAN  20.0  56.0   5.0  18.0   0.93   8.9   5.0  0.0  0.0
11  10  STL  37.0  36.0  27.0  31.0   0.95  14.0   6.0  0.0  0.0
13      CBJ  31.0  42.0  16.0  50.0   0.92  17.0   3.0  0.0  0.0
14      PHI  25.0  48.0  -3.0  36.0   0.90   9.0   4.0  0.0  0.0
15      VAN  18.0  55.0  11.0  22.0   0.89  17.8   0.0  0.0  0.0
16  14   TB  43.0  29.0   2.0  49.0   0.88  16.0   6.0  0.0  0.0
17       TB  29.0  43.0  33.0  24.0   0.94  14.3   6.0  0.0  0.0
18  16  CBJ  26.0  45.0  -6.0  40.0   0.87  12.9   0.0  2.0  0.0
19  17   SJ  37.0  33.0  12.0  29.0   0.85  14.2   5.0  0.0  0.0
20      PIT  28.0  42.0  -2.0  60.0   1.01  13.2   4.0  0.0  0.0
21      ANA  25.0  45.0  15.0  62.0   0.91  13.1   6.0  0.0  2.0
22  20  NYR  42.0  27.0  29.0  36.0   0.87  13.8   8.0  4.0  1.0
24  21  MTL  37.0  30.0  38.0  32.0   0.84  12.3  10.0  3.0  2.0
25       SJ  27.0  40.0  -6.0  12.0   0.82  10.3   4.0  2.0  0.0
26  23  CHI  28.0  38.0  30.0  36.0   0.81  14.6   7.0  2.0  1.0
27      OTT  21.0  45.0   7.0  42.0   0.80   7.2   3.0  0.0  0.0
28      DET  17.0  49.0  -6.0  32.0   0.86   7.5   3.0  0.0  0.0
29  26  DET  26.0  39.0  12.0   8.0   1.03  15.8   5.0  0.0  0.0
30       SJ  16.0  49.0  -4.0  30.0   0.83  12.2   0.0  0.0  0.0
31  28   TB  28.0  36.0  38.0  37.0   0.78  14.7   2.0  0.0  0.0
32      CHI  27.0  37.0  10.0  10.0   1.05  14.5   5.0  0.0  0.0
33      OTT  26.0  38.0  21.0  14.0   0.80  16.6   6.0  1.0  0.0
36      STL  24.0  40.0   8.0  33.0   0.86  10.8   5.0  0.0  0.0
37      OTT  24.0  40.0   5.0  36.0   0.78  11.2   6.0  1.0  0.0
38      CGY  24.0  40.0  11.0  14.0   0.80  14.4   4.0  0.0  0.0
39       LA  16.0  48.0  -2.0  10.0   0.81  11.9   4.0  0.0  0.0
40  35  VAN  31.0  32.0   6.0  20.0   0.80  11.6   7.0  0.0  0.0
41      STL  28.0  35.0  13.0  16.0   0.84  15.2   4.0  0.0  2.0
42      NSH  26.0  37.0  15.0  24.0   0.77  11.0   6.0  0.0  0.0
43      EDM  24.0  39.0 -16.0  24.0   0.78  13.1   2.0  0.0  0.0
44       TB  16.0  47.0  31.0  24.0   0.84  11.5   5.0  1.0  1.0
45  40  MIN  33.0  29.0  21.0  41.0   0.84  12.7   3.0  0.0  0.0

### Get only unique elements

In [16]:
print(df3['PCT'].unique())
print('number elements before .unique(): ', df3['PCT'].count())
print('number elements after .unique(): ',df3['PCT'].unique().shape[0])

[13.8 13.7 11.8 13.4 10.  13.2 19.6  8.9 14.  17.   9.  17.8 16.  14.3
 12.9 14.2 13.1 12.3 10.3 14.6  7.2  7.5 15.8 12.2 14.7 14.5 16.6 10.8
 11.2 14.4 11.9 11.6 15.2 11.  11.5 12.7]
number elements before .unique():  40
number elements after .unique():  36

In [17]:
print(df3[15:17])
print(df3["PCT"][15:17])
print(df3["PCT"][15] + df3["PCT"][16])

    RK TEAM     G     A   +/-   PIM  PTS/G   PCT  GWG   G2   A2
18  16  CBJ  26.0  45.0  -6.0  40.0   0.87  12.9  0.0  2.0  0.0
19  17   SJ  37.0  33.0  12.0  29.0   0.85  14.2  5.0  0.0  0.0
18    12.9
19    14.2
Name: PCT, dtype: float64
33.8

### Part IV: Read and Write

In [18]:
df = pd.read_csv('files/Prestige.txt',  delim_whitespace=True)
print (df.head(5), '\n')
print (type(df), '\n')
print (df.tail(5), '\n') # in Python 3 'print' is function 
print ("describe = \n", df.describe())
print (df.columns)
print(df.shape)
print(df.index)

                     education  income  women  prestige  census  type
GOV.ADMINISTRATORS       13.11   12351  11.16      68.8    1113  prof
GENERAL.MANAGERS         12.26   25879   4.02      69.1    1130  prof
ACCOUNTANTS              12.77    9271  15.70      63.4    1171  prof
PURCHASING.OFFICERS      11.42    8865   9.11      56.8    1175  prof
CHEMISTS                 14.62    8403  11.68      73.5    2111  prof

<class 'pandas.core.frame.DataFrame'>

              education  income  women  prestige  census type
BUS.DRIVERS        7.58    5562   9.47      35.9    9171   bc
TAXI.DRIVERS       7.93    4224   3.59      25.1    9173   bc
LONGSHOREMEN       8.37    4753   0.00      26.1    9313   bc
TYPESETTERS       10.00    6462  13.58      42.2    9511   bc
BOOKBINDERS        8.55    3617  70.87      35.2    9517   bc

describe =
         education        income       women    prestige       census
count  102.000000    102.000000  102.000000  102.000000   102.000000
mean    10.738039   6797.901961   28.979020   46.833333  5401.774510
std      2.728444   4245.922227   31.724931   17.204486  2644.993215
min      6.380000    611.000000    0.000000   14.800000  1113.000000
25%      8.445000   4106.000000    3.592500   35.225000  3120.500000
50%     10.540000   5930.500000   13.600000   43.600000  5135.000000
75%     12.647500   8187.250000   52.202500   59.275000  8312.500000
max     15.970000  25879.000000   97.510000   87.200000  9517.000000
Index(['education', 'income', 'women', 'prestige', 'census', 'type'], dtype='object')
(102, 6)
Index(['GOV.ADMINISTRATORS', 'GENERAL.MANAGERS', 'ACCOUNTANTS',
       'PURCHASING.OFFICERS', 'CHEMISTS', 'PHYSICISTS', 'BIOLOGISTS',
       'ARCHITECTS', 'CIVIL.ENGINEERS', 'MINING.ENGINEERS',
       ...
       'HOUSE.PAINTERS', 'PLUMBERS', 'CONSTRUCTION.LABOURERS', 'PILOTS',
       'TRAIN.ENGINEERS', 'BUS.DRIVERS', 'TAXI.DRIVERS', 'LONGSHOREMEN',
       'TYPESETTERS', 'BOOKBINDERS'],
      dtype='object', length=102)

### Write excel, json, csv formats

In [19]:
import json

df = pd.read_csv('files/Prestige.txt',  delim_whitespace=True)
print('on start: ', df[:15])
df.to_json('dataset_json.json', orient='split')

df2 = pd.read_json('dataset_json.json', orient='split')
print('\n after convert: ', df2[:15])

on start:                       education  income  women  prestige  census  type
GOV.ADMINISTRATORS       13.11   12351  11.16      68.8    1113  prof
GENERAL.MANAGERS         12.26   25879   4.02      69.1    1130  prof
ACCOUNTANTS              12.77    9271  15.70      63.4    1171  prof
PURCHASING.OFFICERS      11.42    8865   9.11      56.8    1175  prof
CHEMISTS                 14.62    8403  11.68      73.5    2111  prof
PHYSICISTS               15.64   11030   5.13      77.6    2113  prof
BIOLOGISTS               15.09    8258  25.65      72.6    2133  prof
ARCHITECTS               15.44   14163   2.69      78.1    2141  prof
CIVIL.ENGINEERS          14.52   11377   1.03      73.1    2143  prof
MINING.ENGINEERS         14.64   11023   0.94      68.8    2153  prof
SURVEYORS                12.39    5902   1.91      62.0    2161  prof
DRAUGHTSMEN              12.30    7059   7.83      60.0    2163  prof
COMPUTER.PROGRAMERS      13.83    8425  15.33      53.8    2183  prof
ECONOMISTS               14.44    8049  57.31      62.2    2311  prof
PSYCHOLOGISTS            14.36    7405  48.28      74.9    2315  prof

 after convert:                       education  income  women  prestige  census  type
GOV.ADMINISTRATORS       13.11   12351  11.16      68.8    1113  prof
GENERAL.MANAGERS         12.26   25879   4.02      69.1    1130  prof
ACCOUNTANTS              12.77    9271  15.70      63.4    1171  prof
PURCHASING.OFFICERS      11.42    8865   9.11      56.8    1175  prof
CHEMISTS                 14.62    8403  11.68      73.5    2111  prof
PHYSICISTS               15.64   11030   5.13      77.6    2113  prof
BIOLOGISTS               15.09    8258  25.65      72.6    2133  prof
ARCHITECTS               15.44   14163   2.69      78.1    2141  prof
CIVIL.ENGINEERS          14.52   11377   1.03      73.1    2143  prof
MINING.ENGINEERS         14.64   11023   0.94      68.8    2153  prof
SURVEYORS                12.39    5902   1.91      62.0    2161  prof
DRAUGHTSMEN              12.30    7059   7.83      60.0    2163  prof
COMPUTER.PROGRAMERS      13.83    8425  15.33      53.8    2183  prof
ECONOMISTS               14.44    8049  57.31      62.2    2311  prof
PSYCHOLOGISTS            14.36    7405  48.28      74.9    2315  prof

In [20]:
df = pd.read_csv('files/Prestige.txt',  delim_whitespace=True)
print('on start: ', df[35:55])
df.to_excel('dataset_excel.xlsx')

df2 = pd.read_excel('dataset_excel.xlsx')
print('\n after convert: ', df2[35:55])

on start:                             education  income  women  prestige  census type
TYPISTS                        11.49    3148  95.97      41.9    4113   wc
BOOKKEEPERS                    11.32    4348  68.24      49.4    4131   wc
TELLERS.CASHIERS               10.64    2448  91.76      42.3    4133   wc
COMPUTER.OPERATORS             11.36    4330  75.92      47.7    4143   wc
SHIPPING.CLERKS                 9.17    4761  11.37      30.9    4153   wc
FILE.CLERKS                    12.09    3016  83.19      32.7    4161   wc
RECEPTIONSTS                   11.04    2901  92.86      38.7    4171   wc
MAIL.CARRIERS                   9.22    5511   7.62      36.1    4172   wc
POSTAL.CLERKS                  10.07    3739  52.27      37.2    4173   wc
TELEPHONE.OPERATORS            10.51    3161  96.14      38.1    4175   wc
COLLECTORS                     11.20    4741  47.06      29.4    4191   wc
CLAIM.ADJUSTORS                11.13    5052  56.10      51.1    4192   wc
TRAVEL.CLERKS                  11.43    6259  39.17      35.7    4193   wc
OFFICE.CLERKS                  11.00    4075  63.23      35.6    4197   wc
SALES.SUPERVISORS               9.84    7482  17.04      41.5    5130   wc
COMMERCIAL.TRAVELLERS          11.13    8780   3.16      40.2    5133   wc
SALES.CLERKS                   10.05    2594  67.82      26.5    5137   wc
NEWSBOYS                        9.62     918   7.00      14.8    5143  NaN
SERVICE.STATION.ATTENDANT       9.93    2370   3.69      23.3    5145   bc
INSURANCE..AGENTS              11.60    8131  13.09      47.3    5171   wc

 after convert:                             education  income  women  prestige  census type
TYPISTS                        11.49    3148  95.97      41.9    4113   wc
BOOKKEEPERS                    11.32    4348  68.24      49.4    4131   wc
TELLERS.CASHIERS               10.64    2448  91.76      42.3    4133   wc
COMPUTER.OPERATORS             11.36    4330  75.92      47.7    4143   wc
SHIPPING.CLERKS                 9.17    4761  11.37      30.9    4153   wc
FILE.CLERKS                    12.09    3016  83.19      32.7    4161   wc
RECEPTIONSTS                   11.04    2901  92.86      38.7    4171   wc
MAIL.CARRIERS                   9.22    5511   7.62      36.1    4172   wc
POSTAL.CLERKS                  10.07    3739  52.27      37.2    4173   wc
TELEPHONE.OPERATORS            10.51    3161  96.14      38.1    4175   wc
COLLECTORS                     11.20    4741  47.06      29.4    4191   wc
CLAIM.ADJUSTORS                11.13    5052  56.10      51.1    4192   wc
TRAVEL.CLERKS                  11.43    6259  39.17      35.7    4193   wc
OFFICE.CLERKS                  11.00    4075  63.23      35.6    4197   wc
SALES.SUPERVISORS               9.84    7482  17.04      41.5    5130   wc
COMMERCIAL.TRAVELLERS          11.13    8780   3.16      40.2    5133   wc
SALES.CLERKS                   10.05    2594  67.82      26.5    5137   wc
NEWSBOYS                        9.62     918   7.00      14.8    5143  NaN
SERVICE.STATION.ATTENDANT       9.93    2370   3.69      23.3    5145   bc
INSURANCE..AGENTS              11.60    8131  13.09      47.3    5171   wc

In [21]:
df = pd.read_csv('files/Prestige.txt',  delim_whitespace=True)
print('on start: ', df[35:55])
df.to_csv('dataset_csv.csv')
print('df shape: ', df.shape)

df2 = pd.read_csv('dataset_csv.csv')
df3 = df2.drop(df2.columns[0], axis=1)
print('df3 shape: ', df3.shape)
print('\n after convert: ', df3[35:55])

on start:                             education  income  women  prestige  census type
TYPISTS                        11.49    3148  95.97      41.9    4113   wc
BOOKKEEPERS                    11.32    4348  68.24      49.4    4131   wc
TELLERS.CASHIERS               10.64    2448  91.76      42.3    4133   wc
COMPUTER.OPERATORS             11.36    4330  75.92      47.7    4143   wc
SHIPPING.CLERKS                 9.17    4761  11.37      30.9    4153   wc
FILE.CLERKS                    12.09    3016  83.19      32.7    4161   wc
RECEPTIONSTS                   11.04    2901  92.86      38.7    4171   wc
MAIL.CARRIERS                   9.22    5511   7.62      36.1    4172   wc
POSTAL.CLERKS                  10.07    3739  52.27      37.2    4173   wc
TELEPHONE.OPERATORS            10.51    3161  96.14      38.1    4175   wc
COLLECTORS                     11.20    4741  47.06      29.4    4191   wc
CLAIM.ADJUSTORS                11.13    5052  56.10      51.1    4192   wc
TRAVEL.CLERKS                  11.43    6259  39.17      35.7    4193   wc
OFFICE.CLERKS                  11.00    4075  63.23      35.6    4197   wc
SALES.SUPERVISORS               9.84    7482  17.04      41.5    5130   wc
COMMERCIAL.TRAVELLERS          11.13    8780   3.16      40.2    5133   wc
SALES.CLERKS                   10.05    2594  67.82      26.5    5137   wc
NEWSBOYS                        9.62     918   7.00      14.8    5143  NaN
SERVICE.STATION.ATTENDANT       9.93    2370   3.69      23.3    5145   bc
INSURANCE..AGENTS              11.60    8131  13.09      47.3    5171   wc
df shape:  (102, 6)
df3 shape:  (102, 6)

 after convert:      education  income  women  prestige  census type
35      11.49    3148  95.97      41.9    4113   wc
36      11.32    4348  68.24      49.4    4131   wc
37      10.64    2448  91.76      42.3    4133   wc
38      11.36    4330  75.92      47.7    4143   wc
39       9.17    4761  11.37      30.9    4153   wc
40      12.09    3016  83.19      32.7    4161   wc
41      11.04    2901  92.86      38.7    4171   wc
42       9.22    5511   7.62      36.1    4172   wc
43      10.07    3739  52.27      37.2    4173   wc
44      10.51    3161  96.14      38.1    4175   wc
45      11.20    4741  47.06      29.4    4191   wc
46      11.13    5052  56.10      51.1    4192   wc
47      11.43    6259  39.17      35.7    4193   wc
48      11.00    4075  63.23      35.6    4197   wc
49       9.84    7482  17.04      41.5    5130   wc
50      11.13    8780   3.16      40.2    5133   wc
51      10.05    2594  67.82      26.5    5137   wc
52       9.62     918   7.00      14.8    5143  NaN
53       9.93    2370   3.69      23.3    5145   bc
54      11.60    8131  13.09      47.3    5171   wc

In [22]:
data1 = pd.read_html('http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015&#47;seasontype/2',skiprows=1)[0]
print(data1)

     0                       1     2    3    4    5    6    7    8      9   \
0    RK                  PLAYER  TEAM   GP    G    A  PTS  +/-  PIM  PTS/G
1     1          Jamie Benn, LW   DAL   82   35   52   87    1   64   1.06
2     2         John Tavares, C   NYI   82   38   48   86    5   46   1.05
3     3        Sidney Crosby, C   PIT   77   28   56   84    5   47   1.09
4     4       Alex Ovechkin, LW   WSH   81   53   28   81   10   58   1.00
5   NaN       Jakub Voracek, RW   PHI   82   22   59   81    1   78   0.99
6     6    Nicklas Backstrom, C   WSH   82   18   60   78    5   40   0.95
7     7         Tyler Seguin, C   DAL   71   37   40   77   -1   20   1.08
8     8         Jiri Hudler, LW   CGY   78   31   45   76   17   14   0.97
9   NaN        Daniel Sedin, LW   VAN   82   20   56   76    5   18   0.93
10   10  Vladimir Tarasenko, RW   STL   77   37   36   73   27   31   0.95
11  NaN                      PP    SH  NaN  NaN  NaN  NaN  NaN  NaN    NaN
12   RK                  PLAYER  TEAM   GP    G    A  PTS  +/-  PIM  PTS/G
13  NaN        Nick Foligno, LW   CBJ   79   31   42   73   16   50   0.92
14  NaN       Claude Giroux, LW   PHI   81   25   48   73   -3   36   0.90
15  NaN         Henrik Sedin, C   VAN   82   18   55   73   11   22   0.89
16   14       Steven Stamkos, C    TB   82   43   29   72    2   49   0.88
17  NaN        Tyler Johnson, C    TB   77   29   43   72   33   24   0.94
18   16        Ryan Johansen, C   CBJ   82   26   45   71   -6   40   0.87
19   17         Joe Pavelski, C    SJ   82   37   33   70   12   29   0.85
20  NaN        Evgeni Malkin, C   PIT   69   28   42   70   -2   60   1.01
21  NaN         Ryan Getzlaf, C   ANA   77   25   45   70   15   62   0.91
22   20           Rick Nash, LW   NYR   79   42   27   69   29   36   0.87
23  NaN                      PP    SH  NaN  NaN  NaN  NaN  NaN  NaN    NaN
24   RK                  PLAYER  TEAM   GP    G    A  PTS  +/-  PIM  PTS/G
25   21      Max Pacioretty, LW   MTL   80   37   30   67   38   32   0.84
26  NaN        Logan Couture, C    SJ   82   27   40   67   -6   12   0.82
27   23       Jonathan Toews, C   CHI   81   28   38   66   30   36   0.81
28  NaN        Erik Karlsson, D   OTT   82   21   45   66    7   42   0.80
29  NaN   Henrik Zetterberg, LW   DET   77   17   49   66   -6   32   0.86
30   26        Pavel Datsyuk, C   DET   63   26   39   65   12    8   1.03
31  NaN         Joe Thornton, C    SJ   78   16   49   65   -4   30   0.83
32   28     Nikita Kucherov, RW    TB   82   28   36   64   38   37   0.78
33  NaN        Patrick Kane, RW   CHI   61   27   37   64   10   10   1.05
34  NaN          Mark Stone, RW   OTT   80   26   38   64   21   14   0.80
35  NaN                      PP    SH  NaN  NaN  NaN  NaN  NaN  NaN    NaN
36   RK                  PLAYER  TEAM   GP    G    A  PTS  +/-  PIM  PTS/G
37  NaN          Kyle Turris, C   OTT   82   24   40   64    5   36   0.78
38  NaN     Alexander Steen, LW   STL   74   24   40   64    8   33   0.86
39  NaN     Johnny Gaudreau, LW   CGY   80   24   40   64   11   14   0.80
40  NaN         Anze Kopitar, C    LA   79   16   48   64   -2   10   0.81
41   35        Radim Vrbata, RW   VAN   79   31   32   63    6   20   0.80
42  NaN      Jaden Schwartz, LW   STL   75   28   35   63   13   16   0.84
43  NaN       Filip Forsberg, C   NSH   82   26   37   63   15   24   0.77
44  NaN       Jordan Eberle, RW   EDM   81   24   39   63  -16   24   0.78
45  NaN        Ondrej Palat, LW    TB   75   16   47   63   31   24   0.84
46   40         Zach Parise, LW   MIN   74   33   29   62   21   41   0.84

     10    11   12   13   14   15   16
0   SOG   PCT  GWG    G    A    G    A
1   253  13.8    6   10   13    2    3
2   278  13.7    8   13   18    0    1
3   237  11.8    3   10   21    0    0
4   395  13.4   11   25    9    0    0
5   221  10.0    3   11   22    0    0
6   153  11.8    3    3   30    0    0
7   280  13.2    5   13   16    0    0
8   158  19.6    5    6   10    0    0
9   226   8.9    5    4   21    0    0
10  264  14.0    6    8   10    0    0
11  NaN   NaN  NaN  NaN  NaN  NaN  NaN
12  SOG   PCT  GWG    G    A    G    A
13  182  17.0    3   11   15    0    0
14  279   9.0    4   14   23    0    0
15  101  17.8    0    5   20    0    0
16  268  16.0    6   13   12    0    0
17  203  14.3    6    8    9    0    0
18  202  12.9    0    7   19    2    0
19  261  14.2    5   19   12    0    0
20  212  13.2    4    9   17    0    0
21  191  13.1    6    3   10    0    2
22  304  13.8    8    6    6    4    1
23  NaN   NaN  NaN  NaN  NaN  NaN  NaN
24  SOG   PCT  GWG    G    A    G    A
25  302  12.3   10    7    4    3    2
26  263  10.3    4    6   18    2    0
27  192  14.6    7    6   11    2    1
28  292   7.2    3    6   24    0    0
29  227   7.5    3    4   24    0    0
30  165  15.8    5    8   16    0    0
31  131  12.2    0    4   18    0    0
32  190  14.7    2    2   13    0    0
33  186  14.5    5    6   16    0    0
34  157  16.6    6    5    8    1    0
35  NaN   NaN  NaN  NaN  NaN  NaN  NaN
36  SOG   PCT  GWG    G    A    G    A
37  215  11.2    6    4   12    1    0
38  223  10.8    5    8   16    0    0
39  167  14.4    4    8   13    0    0
40  134  11.9    4    6   18    0    0
41  267  11.6    7   12   11    0    0
42  184  15.2    4    8    8    0    2
43  237  11.0    6    6   13    0    0
44  183  13.1    2    6   15    0    0
45  139  11.5    5    3    8    1    1
46  259  12.7    3   11    5    0    0